$input-side-padding: 0.7em;

%textboxes {
  @include std-input;
  background-color: #333;
  color: #fff;
  padding: 0 $input-side-padding;
  border-radius: $radius;
  line-height: 1.7;
  &:focus {
    background-color: #3c3c3c;
  }
}

.input-text {
  @extend %textboxes;
  height: $height-input;
}

.input-textarea {
  @extend %textboxes;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.input-label {
  display: block;
  font-weight: 600;
  line-height: 1;
}

