@charset "utf-8";

@import 'normalize';
@import 'flexblocks';

@include define-flexblocks("", 0.4rem 0.66rem 1rem 1.65rem 2.72rem);
@media only screen and (min-width: 768px) {
  @include define-flexblocks(x, 0.4rem 0.66rem 1rem 1.65rem 2.72rem);
}

$text-color: #000;
$highlight-color: #033A7D;

body {
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-size: 14px;
  min-height: 450px;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
}

p {
  line-height: 1.7;
  margin: 0;
}

.wrap {
  padding: 40px 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.navbar-link {
  font-weight: 500;
  text-transform: uppercase;
  color: $text-color;
  text-decoration: none;
}

.quote {
  padding: 15px;
  background-color: #e6e6e6;
  font-weight: 500;
  font-size: 15px;
}

.quote-source {
  color: #666;
}

.hero {
  height: 217px;
  color: #fff;
  position: relative;
  background-color: #222222;


  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: image-url('bg.png');
    background-size: cover;
    opacity: 0.25;
    z-index: 2;
  }
}

.hero-content {
  position: relative;
  max-width: 350px;

  &>h1 {
    position: relative;
    z-index: 4;
  }

  &:after {
    content: '';
    position: absolute;
    $pad: -20px;
    top: $pad; left: $pad; bottom: $pad; right: $pad;
    background-color: $highlight-color;
    z-index: 1;
  }
}

.footer {
  border-top: 1px solid #ddd;
  padding-top: 40px;
}

.footer-link {
  text-decoration: none;
  font-weight: 500;
  color: #999;
  &:hover { color: $text-color; }
}

.footer-title {
  color: #bbb;
  font-style: italic;
}
