<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "all" %>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7763312/634548/css/fonts.css" />
    <%# javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="col gap-4 wrap">
      <div class="row middle center navbar gap-4">
        <a href="/">
          <img src="/images/logo.svg" alt="Wheat Co." class="navbar-logo">
        </a>
        <a href="#" class="navbar-link">Portfolio</a>
        <a href="#" class="navbar-link">Philanthropy</a>
        <a href="#" class="navbar-link">The Team</a>
        <a href="#" class="navbar-link">Hire Us</a>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
