<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "all" %>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7763312/634548/css/fonts.css" />
    <%# javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="col gap-4 wrap page">
      <div class="row middle center gap-4">
        <a href="/">
          <img src="/images/logo.svg" alt="Wheat Co." class="navbar-logo">
        </a>
        <a href="/portfolio" class="navbar-link">Portfolio</a>
        <a href="/philanthropy" class="navbar-link">Philanthropy</a>
        <a href="/team" class="navbar-link">The Team</a>
        <a href="/hire" class="navbar-link">Hire Us</a>
      </div>
      <%= yield %>
      <div class="fill"></div>
      <div class="col gap-4 footer">
        <div class="logo-symbol"><img src="/images/logo_symbol.svg" alt=""></div>
        <div class="xrow">
          <div class="fill col gap-2">
            <span class="footer-title">Company</span>
            <div><a class="footer-link" href="/team">The Team</a></div>
            <div><a class="footer-link" href="/hire">Start a Project</a></div>
            <div><a class="footer-link" href="/blog">The Wheat.co Blog</a></div>
          </div>
          <div class="fill col gap-2">
            <span class="footer-title">Services</span>
            <div><a class="footer-link" href="#">Development Services</a></div>
            <div><a class="footer-link" href="#">Design Services</a></div>
            <div><a class="footer-link" href="#">Deployment and Scaling</a></div>
          </div>
          <div class="fill col gap-2">
            <span class="footer-title">Past Work</span>
            <div><a class="footer-link" href="#">Case Study: Bauxy</a></div>
            <div><a class="footer-link" href="#">Case Study: The Simple Dollar</a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
