---
title: Real-Time Web Apps | Wheat Co.
---

<h1>Case Study: Server Administration</h1>

<div class="xrow xgap-5 col gap-4">
  <div class="col gap-3">
    <p>Our clients trust us to maintain websites with millions of unique visitors weekly. We maintain Digital Ocean and AWS VPS servers, Wordpress installations, Postgres, MySQL, and Mongo instances, and more.</p>
  </div>
  <div class="col gap-4">
    <!-- <p class="quote">
      Wheat Co responds quickly to incidents, and when we have questions, they respond quickly to emails too. We trust them with our servers &mdash; they know what they're doing.
      <span class="quote-source">– Bill Fish, CEO of ReputationManagement.com</span>
    </p> -->
  </div>
</div>
