---
title: Services &amp; Industries | Wheat Co.
---

<h1>Services &amp; Industries</h1>
<div class="col gap-3">
  <p>Our engineers and designers are generalists, so they're capable of working in pretty much any language, from Python to C++. That said, our specialty is producing web applications of all sorts, from simple blogs to highly interactive real-time applications. Our engineers have an average of 10 years building websites, so when we say we live and breath the web, we mean it.</p>
  <p>These are just a few examples of the kinds of projects we work on.</p>
  <ul class="col gap-2">
    <li><a href="/portfolio/dataviz">Interactive Data Visualizations</a></li>
    <li><a href="/portfolio/realtime">Real-time Web Applications</a></li>
    <li><a href="/portfolio/admin">Server Administration</a></li>
  </ul>
</div>
