---
title: Real-Time Web Apps | Wheat Co.
---

<h1>Case Study: Real-Time Web Apps</h1>

<div class="xrow xgap-5 col gap-4">
  <div class="col gap-3">
    <p>We've been seeing a increasing demand for webapps that update in real-time with the server in response to incoming data or user input. These are apps that behave similarly to <a href="https://trello.com/">Trello</a>, where users don't have to press a "Submit" button to see changes update instantly across several computers. Real-time apps result in massive gains in productivity and collaboration.</p>
    <p>Our engineers have written backend code in Python, Ruby, Rails, PHP, Scala, and Rust. However, most of our real-time projects are implemented in Node using the <a href="http://feathersjs.com">Feathers.js</a> library.</p>
    <p>While none of our real-time projects are currently public, we've implemented numerous, and have developed custom tooling to speed up their development.</p>
  </div>
  <div class="col gap-4">
    <div class="col gap-1">
      <div><%= image_tag 'iq.png', class: 'std-image', width: '300' %></div>
      <p class="caption">A live-updating political sentiment analysis map</p>
    </div>
  </div>
</div>
