---
title: Wheat Co.
---

<div class="hero middle">
  <div class="hero-content">
    <h1>Let's get your project rolling.</h1>
  </div>
</div>

<div class="row gap-4">
  <form class="centered-form col gap-3 fill-3" action="//formspree.io/hello@wheat.co" method="POST">
    <label class="col justify gap-1">
      <input class="input-text" type="text" name="name" placeholder="Your Name">
    </label>
    <label class="col justify gap-1">
      <input class="input-text" type="text" name="_replyto" placeholder="Your Email">
    </label>
    <label class="col justify gap-1">
      <textarea class="input-textarea" name="request" placeholder="How can we help you?" rows="7"></textarea>
    </label>
    <div class="row gap-3">
      <input class="btn-primary" type="submit" value="Send Message">
      <input type="hidden" name="_next" value="https://wheat.co/thanks/" />
    </div>
  </form>
  <div class="col gap-3 fill-2">
    <p>We'd love to chat about possible future projects.</p>
  </div>
</div>
