---
title: Hire Wheat Co.
---
<h1>Start a Project</h1>

<div class="col gap-3">
  <p>Need a team of engineers to build your next project? We'd love to work together. If you're interested, you can contact us with this form.</p>

  <p>As a rule of thumb, we generally bill $150 per developer-hour, but rates are negotiable for larger projects. We tend to complete projects quite quickly, and fixed-price contracts are also available.</p>
</div>


<form action="https://formspree.io/hello@wheat.co" method="POST" class="col gap-3" style="max-width: 400px;">
  <div class="col gap-2">
    <span class="Input-label">Your Email *</span>
    <input class="Textbox" type="email" name="_replyto" required>
  </div>
  <div class="col gap-2">
    <span class="Input-label">Your Name *</span>
    <input class="Textbox" type="text" name="name" required>
  </div>
  <div class="col gap-2">
    <span class="Input-label">What can we do for you? *</span>
    <textarea class="Textbox" type="text" name="content" required rows=5></textarea>
  </div>
  <div class="col gap-2">
    <span class="Input-label">What's your budget?</span>
    <input class="Textbox" type="text" name="budget">
  </div>
  <div>
    <input class="Button primary" type="submit" value="Send">
  </div>
  <input type="hidden" name="_next" value="https://wheat.co/thanks" />
</form>
