---
title: Wheat Co.
---

<div class="main col gap-4 justify">
  <div class="center col gap-4 hero">
    <h1>We rapidly create websites and mobile apps.</h1>
    <p class="left"><a class="hero-button" href="work_with_us.html">Work with us &rarr;</a></p>
  </div>
  <p>Most of our projects are delivered to clients in two weeks or less. Our team of two (one engineer and one designer) previously worked at a variety of unicorn startups in Silicon Valley. We work across the entire stack, from tuning databases to designing mockups.</p>
  <p>Millions of people visit Wheat Co. websites every week.</p>
</div>
