---
title: Wheat Co. for Non-Profits
---
<h1>For Non-Profits</h1>

<div class="col gap-3">
  <p>We offer dramatically reduced prices for non-profits looking for an updated website, or custom-designed software to automate parts of their organization.</p>

  <p>For more information, <a href="mailto:hello@wheat.co">shoot us an email</a>.</p>
</div>
