---
title: Thank you | Wheat Co.
---

<div class="main col gap-4 justify">
  <div class="center col gap-4 hero">
    <img src="/images/check.svg" alt="" width="50">
    <h1>We'll be in touch shortly.</h1>
    <p>Our average response time is 24 hours.</p>
  </div>
</div>
